<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn/SignUp</title>
    <link rel="stylesheet" type="text/css" href="authentication.css">
</head>
<body>

<body>
    <h1 id="ticker">Sign-In</h1>
    <hr>
    <div class="button-container">
        <input class="text_bar" type="text" placeholder="username123">
        <input class="text_bar" type="password" placeholder="password123">
        <button class="button" onclick="window.location.href='signin.html'">Sign In</button>

    </div>
</body>

</body>
</html>