<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock | {{Corp_name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Hello.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='Hello.js') }}"></script>
</head>
<body>
    <div id="top-header">
        <form action="/search" method="get" id="search-form">
    <input type="text" name="search_query" id="search-query">

</form>

<script>
    document.getElementById('search-query').addEventListener('keydown', function(event) {
        if (event.keyCode === 13) { // Check if Enter key is pressed (keyCode 13)
            event.preventDefault(); // Prevent form submission
            document.getElementById('search-form').submit(); // Submit the form
        }
    });
</script>

        <div id="left-header">
            <ul>
                <li>Home</li>
                <li>Market Data</li>
                <li>Portfolio</li>
                <li>Terminal</li>
                <li>Compare</li>
                <li>Login/SignUp</li>
            </ul>
        </div>
    </div>
    <hr>
    <h1 id="ticker">{{Corp_name}}: <span id="stock-price"></span></h1>
    <input type="hidden" id="ticker-symbol" value="{{ ticker }}">


<script>
    function fetchStockPrice() {
  // Get the ticker symbol from the hidden input field
  const tickerSymbol = document.getElementById('ticker-symbol').value;

  // Fetch the stock price data from the server
  fetch(`/stock_price/${tickerSymbol}`)
    .then(response => response.json())
    .then(data => {
      // Update the stock price element with the retrieved data
      const stockPriceElement = document.getElementById('stock-price');
      stockPriceElement.textContent = data.stock_price;
    })
    .catch(error => {
      console.log('Error:', error);
    });
}

// Fetch the stock price initially
fetchStockPrice();

// Update the stock price every second
setInterval(fetchStockPrice, 1000);

</script>



</body>
</html>
